---
import Welcome from "../../components/Welcome.astro";
import Layout from "../../layouts/Layout.astro";
import DevLog from "../../components/DevLog.svelte";

---

<Layout>
    <div class="main">
        <DevLog client:load />
    </div>
</Layout>

<style scoped>

</style>
