---
import Layout from "../../../layouts/Layout.astro";
import Roll from "../../../components/Articleroll.svelte";
---

<Layout>
    <div class="main">
        <Roll client:idle />
    </div>
</Layout>