/* --------------------------------------------------------------------------------------- 
                information
--------------------------------------------------------------------------------------- */
/*
    Description : CSS for markdown rendering
    Version     : 1.2
    Last Update : 12.11.2025
    Author      : lichzelg
    License     : MIT
    License URL : https://www.tldrlegal.com/license/mit-license
*/

/* --------------------------------------------------------------------------------------- 
                install fonts
--------------------------------------------------------------------------------------- */

:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6) {
    margin: 0;
}

:global(.markdown) {
    font-size: 0.9rem !important;
}

:global(.markdown .article-meta h1) {
    font-size: 2rem !important;
}

:global(.inverted-color) {
    filter: invert(0.5) !important;
}

:global(.markdown pre span) {
    padding: 0 !important;
    text-transform: normal;
    font-size: calc(var(--font-size));
}

:global(.markdown-highlight) {
    position: relative;
    background: var(--bg-2);
    box-shadow: 0px 0px 4px var(--col-border);
    border-radius: 4px;
    /* background: var(--bg-2); */
}

:global(.markdown div) {
    position: relative;
}

:global(.markdown div pre) {
    position: relative;
    display: block;
    background: var(--bg-1);
    border-radius: var(--border-radius);
    word-wrap: break-word;
    white-space: normal;
    opacity: var(--level1-opacity);
    /* padding-left: calc(2 * var(--font-size));
  padding-right: calc(2 * var(--font-size)); */
}

:global(.markdown div pre button) {
    all: unset;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    color: currentColor;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: var(--col);
    opacity: 0.7;
}

:global(.copy-active) {
    color: #3498db; /* Inherit the color of the parent button */
}

:global(.markdown h1) {
    color: var(--col-transparent2);
    font-size: calc(1.2 * var(--font-size));
    margin-top: calc(var(--font-size));
    margin-bottom: calc(0.2 * var(--font-size));
}

:global(.markdown h1 a) {
    display: none;
}

:global(.markdown h2) {
    color: var(--col-primary);
    opacity: var(--level2-opacity);
    font-size: calc(1.2 * var(--font-size));
    margin-top: calc(var(--font-size));
    margin-bottom: calc(0.2 * var(--font-size));
}

:global(.markdown h2 a) {
    display: none;
}

:global(.markdown h3) {
    color: #734c8c;
    /* color: #c1841f; */
    font-size: calc(1.2 * var(--font-size));
    margin-top: calc(var(--font-size));
    margin-bottom: calc(0.2 * var(--font-size));
}

:global(.markdown h4) {
    color: #734c8c;
    padding-bottom: var(--font-size);
}

:global(.markdown h5) {
    color: #249bb2;
}

/* .markdown h3:not(:first-child) {
  margin-top: calc(var(--font-size));
} */

:global(.markdown p) {
    margin-bottom: var(--font-size);
}

:global(.markdown table) {
    width: 100%;
    margin-bottom: calc(3 * var(--font-size));
    margin-top: calc(3 * var(--font-size));
    border: 0px solid #ccc;
    border-collapse: collapse;
}

:global(.markdown table td) {
    padding: 4px 6px 4px 6px;
    border: 1px solid var(--col-transparent4);
    border-top: 0px;
    word-break: break-all;
    word-break: break-word;
    overflow: hidden;
    white-space: pre-line;
}

.markdown table tr:first-child th {
    border-top: 0;
}

.markdown table tr:nth-child(even) {
    background-color: var(--bg-alter);
}

.markdown table tr:last-child td {
    border-bottom: 0;
}

.markdown table tr td:first-child,
.markdown table tr th:first-child {
    border-left: 0;
}
.markdown table tr td:last-child,
.markdown table tr th:last-child {
    border-right: 0;
}

.markdown table thead {
    border-bottom: 1px solid var(--col-transparent4);
}

.markdown hr {
    opacity: 0.2;
}

.markdown ul li {
    opacity: 0.9;
}

.markdown ul li:last-child {
    margin-bottom: calc(1 * var(--font-size));
}

.markdown div pre code {
    color: var(--col);
}

.markdown a {
    text-decoration: none;
    overflow-wrap: break-word;
}

.markdown a:hover {
    color: var(--col-link-hover);
}

.markdown a:active {
    color: var(--col-link-active);
}

:global(.markdown img) {
    width: 100%;
    height: 100%;
    /* border-radius: 2px; */
}

:global(.markdown .img40) {
    margin: calc(2 * var(--font-size)) auto 0 auto;
    width: 40%;
}

:global(.markdown .img60) {
    margin: calc(2 * var(--font-size)) auto 0 auto;
    width: 60%;
}

:global(.markdown .img80) {
    margin: calc(2 * var(--font-size)) auto 0 auto;
    width: 80%;
}

:global(.markdown .caption) {
    font-weight: bold;
    font-family: "Walter Turncoat", sans-serif;
    text-align: center;
    margin-bottom: calc(3 * var(--font-size));
}

:global(.markdown .img40 sub),
:global(.markdown .img60 sub),
:global(.markdown .img80 sub),
:global(.markdown .img100 sub) {
    display: block;
    font-weight: bold;
    /* font-family: "Walter Turncoat", sans-serif; */
    text-align: center !important;
    margin-top: calc(0 * var(--font-size));
    margin-bottom: calc(2 * var(--font-size));
}

.except {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------------------ */
/*        content commons                                                               */
/* ------------------------------------------------------------------------------------ */
@media (min-width: 1025px) {
    .main {
        /* background: #333333cc; */
        margin-top: 5%;
        /* margin-top: calc(1 * var(--navigation-height)); */
        margin-left: calc((100% - var(--page-width)) * 50 / 100);
        margin-right: calc((100% - var(--page-width)) * 50 / 100);
    }
    .main {
        grid-column-gap: calc(var(--main-font-size) * 2);
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    .article {
        grid-column: 1/10;
    }

    .article .article-meta {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 4rem;
        position: relative;
    }

    .article .article-meta .to-pdf {
        position: absolute;
        top: 6em;
        right: 0;
        width: 4rem;
        height: 4rem;
        justify-self: end;
    }

    .article .article-meta span {
        font-size: 0.8rem;
        /* margin: auto 0 0 auto; */
        opacity: 0.4;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .main {
        margin-top: 3em;
        margin-left: var(--font-size);
        margin-right: var(--font-size);
    }

    .article {
        grid-column: 1/11;
        /* display: flex; */
        /* flex: 1; */
    }

    .article .article-meta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .article .article-meta span {
        font-size: 0.5rem !important;
        margin: auto 0 0 auto;
        opacity: 0.4;
    }

    .toc {
        user-select: none;
        display: none;
    }
}

@media (max-width: 480px) {
    .main {
        margin-top: calc(2 * var(--navigation-height));
        font-size: 0.8em;
        margin-top: 3em;
    }

    .article {
        grid-column: 1/11;
    }

    .article-meta {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
    }

    .article .article-meta span {
        opacity: 0.4;
    }

    p {
        padding-left: 2px;
    }

    .toc {
        display: none;
    }
}

.main {
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: calc(2 * var(--main-font-size));
}

.article .article-meta h1 {
    font-size: calc(2.4 * var(--font-size));
    margin-top: auto;
}

.toc-container {
    line-height: 1.4;
    position: fixed;
    top: 25%;
    /* top: calc(var(--navigation-height)*3); */
    left: calc(
        (100% - var(--page-width) * 8 / 10) / 2 + (var(--page-width) * 8 / 10) +
            var(--font-size) * 2
    );
    /* right: calc(var(--page-width)/4); */
}

.toc-container * div:hover {
    cursor: pointer;
    opacity: 1;
}

.toc-container .toc-title {
    font-size: 0.8rem;
    text-decoration: none;
    opacity: 0.8;
    color: var(--col-primary);
}

.toc-container .toc-content {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--col-primary);
    opacity: 0.8;
}

.toc-container a {
    color: var(--col-link);
}

.toc-container a:hover {
    font-weight: bold;
}

.toc-container a:active {
    color: var(--col-link-active);
}

.toc-article {
    margin-bottom: .8rem;
}

.code-title {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    padding: 0.2rem 1.1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-color: var(--col-border);
}

.title-text {
    font-size: 0.9rem;
}

pre {
    white-space: pre; /* Ensures line breaks are preserved */
    font-family: monospace; /* Makes it look like code */
    font-size: inherit; /* Override this to keep the size consistent */
    overflow-x: auto; /* Handles long lines with horizontal scrolling */
}

code {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: inherit;
    font-size: 0.75rem;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1rem; /* Adjust spacing between term and definition */
    row-gap: 0.5rem; /* Adjust spacing between rows */
    align-items: center;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0; /* Remove default margin to keep it inline */
}

/* ------------------------------------------------------------------------------------ */
/*        override prism                                                                */
/* ------------------------------------------------------------------------------------ */
/* code[class*="language-"],
pre[class*="language-"] {
    padding: 0.5rem 1rem 1rem 1rem !important;
    text-shadow: none !important;
}

.language-plaintext {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    margin-left: 2rem !important;
    background: transparent !important;
}

.token.operator {
    background: var(--bg-1) !important;
} */

/* global.css or component CSS */
pre.astro-code.github-dark {
    padding: 2rem !important;
}

article.article.content pre.astro-code.github-dark {
    padding: 2rem !important;
}

/* ------------------------------------------------------------------------------------ */
/*        astro overrides                                                               */
/* ------------------------------------------------------------------------------------ */

:global(.markdown pre) {
    border: 1px solid var(--col-border);
    border-radius: 4px;
    box-shadow: 0px 0px 2px var(--col-border);

    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: var(--bg-1) !important;
}

:global([color-scheme="light"] code span) {
    color: var(--col-transparent);
}

/* ------------------------------------------------------------------------------------ */
/*        giscus specific                                                               */
/* ------------------------------------------------------------------------------------ */

:global(#comments-giscus) {
    grid-column: 1/10 !important;
}
