---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!-- <Layout> -->
    <div class="center-text">
        this place a little bit empty right now. try&nbsp;<a href="https://kutaycoskuner.github.io/content_tree">here</a>
    </div>
    <!-- <Welcome /> -->
<!-- </Layout> -->

<style>
    .center-text {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 90vh; 
        text-align: center; 
        color: var(--col);
    }
</style>
