---
import Layout from "../../../layouts/Layout.astro";
import Blogroll from "../../../components/Blogroll.svelte";
---

<Layout>
    <div class="main">
        <Blogroll client:idle />
    </div>
</Layout>