---
const title = "Hello Astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <h1>Hello, Astro!</h1>
    <p>This is your first simple page.</p>
  </body>
</html>
